body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #0d0433;
  pointer-events: none;
}

#wholeDisplay {
  display: flex;
  height: 100vh;
}

#masterMindBoard {
  padding: 15px;
  margin: auto;
  background-color: #ffb500;
  height: 87%;
  width: 29%;
  border-radius: 5px;
}

.patternDiv {
  padding-top: 13px;
  display: flex;
  width: fit-content;
  margin-left: 10px;
  height: 6%;
  width: 95%;
}

#secretPattern {
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: ivory;
  width: 64%;
}

.colorBox {
  width: 8%;
  height: 64%;
  margin-left: 18px;
  border-radius: 50%;
  border: 1px solid black;
}

#colorBoxes {
  height: 90%;
  margin-bottom: -50px;
}

.selectedColor {
  cursor: pointer;
  box-shadow: rgb(110, 110, 105) 1.5px 1.5px 1.5px;
}

.secretBox {
  margin-left: 20px;
  width: 10%;
  box-shadow: rgb(110, 110, 105) 1.5px 1.5px 1.5px;
}

#colors {
  margin-top: -70px;
  width: 100%;
  margin-left: -7px;
  pointer-events: all;
}

.patternPlacingDiv {
  margin-bottom: 5px;
}

.boxExceptSecretBox {
  cursor: pointer;
  box-shadow: rgb(110, 110, 105) 1.5px 1.5px 1.5px;
}

.hints {
  height: 18%;
  width: 2%;
  margin-top: 5px;
  margin-left: 19px;
  border-radius: 50%;
  box-shadow: rgb(110, 110, 105) 1.5px 1.5px 1.5px;
  display: none;
}

#try {
  height: 25px;
  border-radius: 5px;
  width: 100px;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: bold;
  outline: none;
  background-color: rgb(212, 223, 197);
  margin-left: 23px;
  cursor: pointer;
}

.pointerEventsNone {
  pointer-events: none;
}

.pointerEventsAll {
  pointer-events: all;
}

#winMessage {
  margin-left: 50px;
  font-style: italic;
}
